<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383853104536-ef8ju83uua6ubp8qq30cjh437a4hpjs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383853104536-ef8ju83uua6ubp8qq30cjh437a4hpjs9</string>
	<key>API_KEY</key>
	<string>AIzaSyA1v0hdV67pGCOlLuqP4c4L5usjxeVwjqk</string>
	<key>GCM_SENDER_ID</key>
	<string>383853104536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chi-jung.Budget</string>
	<key>PROJECT_ID</key>
	<string>budget-928cf</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-928cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383853104536:ios:ade50996dfd1d21d2f6fed</string>
</dict>
</plist>